
__pycache__/gamefunctions.cpython-310.pyc
__pycache__/ia.cpython-310.pyc
__pycache__/ia.cpython-310.pyc
__pycache__/ia.cpython-310.pyc
__pycache__/ai_alphabeta.cpython-310.pyc
__pycache__/ai_minimax.cpython-310.pyc
__pycache__/ia.cpython-310.pyc
__pycache__/ia_tt.cpython-310.pyc
